{% extends "dashboard/base.html" %}
{% load i18n %}
{% block title %} {% translate 'Dashboard' %} {% endblock title %}

{% block help_url_smallscreen %} {% url 'wiki_teacher_dashboard' %} {% endblock %}
{% block help_url_bigscreen %} {% url 'wiki_teacher_dashboard' %} {% endblock %}

{% block head %}{% endblock head %}
{% load crispy_forms_tags %}

{% block content %}
{% if event_creation_form_open %}
<div class="card border-danger mb-3">
	<div class="card-body row">
		<div class="col col-12 col-md-8">
			<h5 class="card-title">{% translate 'Open appointment scheduling' %}</h5>
			<div class="card-text">{% translate 'You have one or more appointment creation requests that have not been completed yet. Please follow this link and process the request. Your input will then be verified.' %}</div>
		</div>
		<div class="col col-12 col-md-4 d-flex justify-content-end align-items-center">
			<a type="button" class="btn btn-outline-danger" href="{% url 'teacher_personal_events' %}">{% translate 'View now' %}</a>
		</div>
	</div>
</div>
{% endif %}
<div class="row mb-3">
	<div class="container col-md-8">
		<div class="h-auto d-grid gap-3">
			{% if events|length > 0 %}
			<!-- Events-Titel -->
			<div class="row p-1">
				<div class="col col-8">
					<p class="h1">{% translate 'Appointments' %}</p>
					<p class="text-muted">
						{% translate 'All booked appointments are listed here.' %}
					</p>
				</div>
				<div class="col col-4 d-grid gap-2 justify-content-md-end h-50">
					<a class="btn btn-outline-danger p-2 ps-3 pe-3 mt-2 d-flex align-items-center justify-content-center"
						type="button" href="{% url 'create_events_pdf' %}">
						<div>{% translate 'Download' %}</div>
					</a>
				</div>
			</div>

			<!-- Liste an möglichen Tabs -->
			<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
				<style>
					.active {
						border-color: #dc3545!important;
					}
				</style>
				{%for key, events in events_dict.items %}
				<li class="nav-item" role="presentation">
					<button
						class="nav-link bg-white text-danger border border-light {% if forloop.counter0 == 0 %}active{%endif%}"
						id="pills-{{key}}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{key}}" type="button"
						role="tab" aria-controls="pills-{{key}}" aria-selected="true">
						{{events.first.start|date}}
					</button>
				</li>
				{%endfor%}
			</ul>

			<!-- Inhalt der Tabs -->
			<div class="tab-content" id="pills-tabContent">
				{%for key, events in events_dict.items %}
				<div class="tab-pane fade {% if forloop.counter0 == 0 %}show active{%endif%}" id="pills-{{key}}"
					role="tabpanel" aria-labelledby="pills-{{key}}-tab" tabindex="0">

					<div class="accordion" id="event-accordion">
						{% for event in events %}
						<div class="accordion-item" id="event-accordion-item-{{ event.id }}">
							<h2 class="accordion-header" id="event-accordion-heading-{{ event.id }}">
								<button class="acc-btn accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#event-accordion-collapse-{{ event.id }}" aria-expanded="false"
									aria-controls="event-accordion-collapse-{{ event.id }}">

									<span class="left">
                                        {{ event.start|time }} - {{event.end|time}} | {{event.teacher.first_name}}
                                        {% for student in event.student.all %}
										{{student.first_name}} {{student.last_name}}
										{% if student != event.student.last %}, {% endif %}
										{% endfor %}
                                    </span>
                                    <span class="right">
                                        {% if event.status == 2 %}
                                        <i class="fa-regular fa-clock fs-5" title="{% translate 'You still need to confirm the appointment.' %}"></i>
                                        {% endif %}
                                    </span>

									<!-- <div class="col">
										{{ event.start|time }} - {{event.end|time}} |
										{% for student in event.student.all %}
										{{student.first_name}} {{student.last_name}}
										{% if student != event.student.last %}, {% endif %}
										{% endfor %}
									</div>
									<div class="col-3">
									</div>
									<div class="col-4">
										{% if event.status == 2 %}
										<span
											class="position-absolute top-50 start-50 translate-middle-y badge rounded-pill bg-secondary d-none d-sm-block">
											{% translate 'Not confirmed' %}
										</span>
										{% endif %}
									</div> -->
								</button>
							</h2>
							<div id="event-accordion-collapse-{{ event.id }}" class="accordion-collapse collapse"
								aria-labelledby="event-accordion-heading-{{ event.id }}"
								data-bs-parent="#event-accordion">
								<div class="accordion-body">
									<strong>{% translate 'Starting time:' %} </strong>{{event.start | time}}
									({{event.start.date.day}}.{{event.start.date.month}}.{{event.start.date.year}})
									<br />
									<strong>{% translate 'Students:' %} </strong>
									{% for student in event.student.all %}
									{{student.first_name}} {{student.last_name}}
									{% if student != event.student.last %}, {% endif %}
									{% endfor %}<br />
									<strong>{% translate 'Confirmation:' %} </strong>
                                    {% if event.status == 2 %}
                                    {% translate 'pending' %}
                                    {% else %}
                                    {% translate 'confirmed' %}
                                    {% endif %}
									<div class="d-grid gap-2 d-md-flex justify-content-md-end">
										<button type="button" class="btn btn-outline-secondary mt-2" data-bs-toggle="modal"
											data-bs-target="#eventCancelModal{{event.id}}">
											{% if event.status == 2 %}
											{% translate 'Decline appointment' %}
											{% else %}
											{% translate 'Cancel appointment' %}
											{% endif %}
										</button>
										<a type="button" class="btn btn-outline-danger mt-2"
											href="{% url 'teacher_event_view' event.id %}">
											{% translate 'Details' %}
										</a>
										{% if event.status == 2 %}
										<button type="button" class="btn btn-outline-danger mt-2" data-bs-toggle="modal"
											data-bs-target="#eventModal{{event.id}}">
											{% translate 'Confirm appointment' %}
										</button>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				{%endfor%}
			</div>
			{% else %}

			<!-- Für den Lehrer wurden noch keine Events gebucht -->
			<div class="container">
				<p class="h1">{% translate 'Appointments' %}</p>
				<p class="text-muted">{% translate 'You do not have any open appointments yet.' %}</p>
			</div>
			{% endif %}
		</div>
	</div>
	<div class="container col-md-4">
		<div class="h-auto d-grid gap-3">
			<div class="container">
				<p class="h1">{% translate 'Inquiries' %}</p>
				<p class="text-muted">{% translate 'Your unanswered requests to particular students.' %}</p>
			</div>

			{% if inquiries|length > 0 %}
			<div class="accordion" id="inquiry-accordion">
				{% for inquiry in inquiries %}
				<div class="accordion-item" id="inquiry-accordion-item-{{ inquiry.inquiry.id }}">
					<h2 class="accordion-header" id="inquiry-accordion-heading-{{ inquiry.inquiry.id }}">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#inquiry-accordion-collapse-{{ inquiry.inquiry.id }}" aria-expanded="false"
							aria-controls="inquiry-accordion-collapse-{{ inquiry.inquiry.id }}">
							{{ inquiry.inquiry.students.first }}
						</button>
					</h2>
					<div id="inquiry-accordion-collapse-{{ inquiry.inquiry.id }}" class="accordion-collapse collapse"
						aria-labelledby="inquiry-accordion-heading-{{ inquiry.inquiry.id }}"
						data-bs-parent="#inquiry-accordion">
						<div class="accordion-body">
							<strong>{% translate 'Parent:' %} </strong>
							{{ inquiry.inquiry.respondent.first_name }} {{ inquiry.inquiry.respondent.last_name }}<br />
							<strong>{% translate 'Student:' %} </strong>
							{{ inquiry.inquiry.students.first }}<br />
							<strong>{% translate 'Reason:' %} </strong> {{ inquiry.inquiry.reason }}<br />
							<div class="d-grid gap-2 d-md-flex justify-content-md-end">
								<a class="btn btn-outline-danger" role="button" href="{{ inquiry.url }}">{% translate 'Edit' %}</a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			{% else %}
			<div class="card m-1">
				<div class="card-body">
					<p class="h5 card-title">{% translate 'No inquiries' %}</p>
					<p class="card-text">{% translate 'You have no unconfirmed requests for students.' %}</p>
				</div>
			</div>
			{% endif %}
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<a class="btn btn-outline-danger" role="button" href="{% url 'teacher_students_list' %}">{% translate 'Submit inquiry' %}</a>
			</div>

			<!-- Ab hier geht es um Mitteilungen -->
			<div class="container">
				<p class="h1">{% translate 'Notifications' %}</p>
			</div>
			{% if announcements|length > 0 %}
			<div class="accordion" id="announcement-accordion">
				{% for announcement in announcements|slice:":5" %}
				<div class="accordion-item" id="announcement-accordion-item-{{ announcement.id }}">
					<h2 class="accordion-header" id="announcement-accordion-heading-{{ announcement.id }}">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#announcement-accordion-collapse-{{ announcement.id }}"
							aria-expanded="false" aria-controls="announcement-accordion-collapse-{{ announcement.id }}">
							{{ announcement.get_announcement_type_display }}
						</button>
					</h2>
					<div id="announcement-accordion-collapse-{{ announcement.id }}" class="accordion-collapse collapse"
						aria-labelledby="announcement-accordion-heading-{{ announcement.id }}"
						data-bs-parent="#announcement-accordion">
						<div class="accordion-body">
							{{announcement.message|safe|linebreaks}}
							<!-- <strong>Elternteil: </strong>
                            {{ announcement.announcement.respondent.first_name }} {{
                            announcement.announcement.respondent.last_name }}<br />
                            <strong>Grund: </strong> {{ announcement.announcement.reason }}<br />
                            <strong>Event: </strong>
                            {% if announcement.announcement.event != null %}
                            {{announcement.announcement.event.start}}
                            {% else %}
                            ---
                            {% endif %}
                            {{announcement.encodedID}} -->
							<div class="d-grid gap-2 d-md-flex justify-content-md-end">
								<a class="btn btn-outline-secondary" role="button"
									href="{% url 'teacher_mark_announcement_read' announcement.encodedID %}">{% translate 'Read' %}</a>
								{% if announcement.action_link %}

								<a class="btn btn-outline-danger" role="button"
									href="{{ announcement.action_link }}">{{announcement.action_name}}</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			{% if announcements.all|length > 5 %}
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<a class="btn btn-outline-danger" role="button" href="{% url "announcements" %}">
					{% translate 'Further notifications' %}
				</a>
			</div>
			{% endif %}
			{% else %}
			<div class="card m-1">
				<div class="card-body">
					<p class="h5 card-title">{% translate 'No notifications' %}</p>
					<p class="card-text">
						{% translate "You don't have any new notifications." %}
					</p>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>

{% for event in events %}
<!-- Event Cancel Modal: Hier kann der Lehrer seinen Termin wieder absagen. -->
<div class="modal fade" id="eventCancelModal{{event.id}}" tabindex="-1" aria-labelledby="eventCancelModal{{event.id}}Label"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="eventCancelModal{{event.id}}Label">{% translate 'Cancel appointment' %}</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form action="{% url 'teacher_event_view' event.id  %}" method="post">
				{% csrf_token %}
				{{cancel_event_form.cancel_event}}
				<div class="modal-body">
					{{ cancel_event_form.message|as_crispy_field }}
					{{cancel_event_form.book_other_event|as_crispy_field}}
				</div>
				<div class="modal-footer d-flex justify-content-between">
					<button type="button" class="btn btn-outline-secondary"
						data-bs-dismiss="modal">{% translate 'Cancel' %}</button>
					<input type="submit" class="btn btn-outline-danger" value="{% translate 'Cancel appointment' %}" />
				</div>
			</form>
		</div>
	</div>
</div>
{% if event.status == 2 %}
<!-- Event Confirmation Modal -->
<div class="modal fade" id="eventModal{{event.id}}" tabindex="-1" aria-labelledby="eventModal{{event.id}}Label"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">
					{% translate 'Confirm appointment' %}
				</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{% translate 'You have received an inquiry from ' %} 
				{{ event.parent.first_name }} {{ event.parent.last_name }}
				{% translate ' for the ' %}
				{{event.start | date}}
				{% translate ' at ' %}
				{{event.start|time}}
				{% translate '. Would you like to confirm this appointment?' %}'
			</div>
			<div class="modal-footer d-flex justify-content-between">
				<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
					{% translate 'Cancel' %}
				</button>
				<a type="button" class="btn btn-outline-danger" href="{% url 'teacher_confirm_event' event.id %}">
					{% translate 'Accept appointment' %}</a>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}

<!-- Aus dem Internet -> funktioniert, geht aber bestimmt noch besser -->
<style>
    button.acc-btn {
        /* create a grid */
        display: grid;
        /* create colums. 1fr means use available space */
        grid-template-columns: 1fr max-content max-content;
        align-items: center;
        grid-gap: 10px;
    }
</style>

 {% endblock content %}