{% extends "dashboard/base.html" %}

{% block title %} Dashboard - Lehrer {% endblock title %}

{% block content %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>

<div class="container p-2">
    <div class="card" style="border-radius: 10px;">
        <div class="card-body p-4">
            <p class="h1">Suchergebnisse</p>
            <ul class="list-group list-group-flush">
                {% for student_list in page_obj %}
                <li class="list-group-item">
                    <a href="{% url 'teacher_redirect_eventinquiry' studentID=student_list.0.id %}"
                        class="row gy-1 align-items-center text-decoration-none text-dark">
                        <div class="col col-md-7 col-xl-9 text-start">
                            {{ student_list.0.last_name }}, {{ student_list.0.first_name }}
                        </div>
                        {% if not student_list.0.customuser_set.exists %}
                        <div class="col col-md-5 col-xl-3">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end align-items-center">
                                <i class="fa-solid fa-triangle-exclamation fa-xl text-warning ms-auto"
                                    data-bs-toggle="tooltip" title="Das Kind hat bisher kein registriertes Elternteil!"></i>
                            </div>
                        </div>
                        {% else %}
                        {% if student_list.1 == 1 %}
                        <div class="col col-md-5 col-xl-3">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end align-items-center">
                                <i class="fa-solid fa-right-from-bracket fa-xl text-secondary ms-auto"
                                    data-bs-toggle="tooltip" title="Sie haben bereits eine Anfrage gestellt!"></i>
                            </div>
                        </div>
                        {% elif student_list.1 == 2 %}
                        <div class="col col-md-5 col-xl-3">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end align-items-center">
                                <i class="fa-solid fa-right-to-bracket fa-xl text-secondary ms-auto"
                                    data-bs-toggle="tooltip" title="Sie haben bereits eine Anfrage bekommen!"></i>
                            </div>
                        </div>
                        {% elif student_list.1 == 3 %}
                        <div class="col col-md-5 col-xl-3">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end align-items-center">
                                <i class="fa-solid fa-circle-check fa-xl text-success ms-auto"
                                    data-bs-toggle="tooltip" title="Sie haben bereits ein Termin mit diesem Kind!"></i>
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<nav aria-label="Student navigation" class="mt-2">
    <ul class="pagination justify-content-center">
        {% if search %}
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&q={{ search }}"><i class="fa-solid fa-angle-left"></i></a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href=""><i class="fa-solid fa-angle-left"></i></a></li> 
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
            {% if i == page_obj.number %}
            <li class="page-item active"><a class="page-link" href="?page={{ i }}&q={{ search }}">{{ i }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}&q={{ search }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{ search }}"><i class="fa-solid fa-angle-right"></i></a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href=""><i class="fa-solid fa-angle-right"></i></a></li>
            {% endif %}
        {% else %}
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-angle-left"></i></a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href=""><i class="fa-solid fa-angle-left"></i></a></li> 
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
            {% if i == page_obj.number %}
            <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-angle-right"></i></a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href=""><i class="fa-solid fa-angle-right"></i></a></li>
            {% endif %}
        {% endif %}

    </ul>
</nav>

{% endblock content %}