{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <p class="h1">{{ title }}</p>
  {% comment %} <p class="text-secondary">
    {% translate 'Create new formulars for a date.' %}
  </p> {% endcomment %}

  <form method="POST">
    {{ form|crispy }}
    {% csrf_token %}

    <div class="row">
      <div class="col d-flex">
        <a class="btn btn-outline-secondary mt-2" href="{{ back_url }}">{% translate 'Cancel' %}</a>
      </div>
      <div class="col d-flex justify-content-end">
        <button class="btn btn-outline-danger mt-2" type="submit">{% translate 'Save' %}</button>
      </div>
    </div>
  </form>
{% endblock %}
