<!DOCTYPE html>
<html lang="de" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>

<script>
    function checkRestHeight() {
        const footer = document.querySelector('footer');
        const footer_styles = window.getComputedStyle(footer);
        const footerHeight = footer_styles.height;

        const messages = document.getElementById('messages_id');
        const messages_styles = window.getComputedStyle(messages);
        const messagesHeight = messages_styles.height;

        const height = parseInt(footerHeight, 10) + parseInt(messagesHeight, 10) + "px";

        document.documentElement.style.setProperty("--sl-rest-height", height);
        document.documentElement.style.setProperty("--sl-footer-height", footerHeight);
    }

    addEventListener("resize", checkRestHeight);
    addEventListener("orientationchange", checkRestHeight);
    checkRestHeight();
</script>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <div id="messages_id">
            {% if messages %}
            <div class="container mt-5">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="container">
            <div class="row justify-content-center align-items-center"
                style="min-height: calc(100vh - var(--sl-rest-height)); margin-top: var(--sl-messages-height);">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>

    <footer class="footer mt-auto">
        <div class="container">
            <div class="container">
                <footer class="d-flex flex-wrap justify-content-between align-items-center my-2 border-top">
                    <p class="col mb-0 text-muted text-start">&copy; 2023 Bastian Bollmer, Jan-Niklas Wielpütz</p> <!-- changed col-md-4 to col -->
                    
                    <ul class="nav col-md-4 justify-content-end">
                        <li class="nav-item"><a href="{% url 'impressum' %}"
                                class="nav-link px-2 text-muted">Impressum</a></li>
                    </ul>
                </footer>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>checkRestHeight();</script>
</body>

</html>