{% extends 'administrative/administrative_base.html' %}
{% load render_table from django_tables2 %}

{% block control_content %}
<div class="row">
    <div class="col-8">
        <p class="h1">Students</p>
        <p class="text-muted">Hier werden alle Lernenden aufgeführt.</p>
      </div>
      <div class="col-4 position-relative"><a class="btn btn-outline-danger position-absolute top-50 end-0 translate-middle-y" href="{% url 'student_import_filepload' %}">Import students</a></div>
  </div>  
{% render_table table %}

{% endblock %}