{% extends 'administrative/time_slots/time_slots_base.html' %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block time_slot_content %}
<div class="h-auto d-grid gap-3">
    <div class="container row"> 
        <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'administrative_event_list_view' %}">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'administrative_event_formular_view' %}">Change Formulars</a>
    </li>
  </ul>
    
    <div class="container">

      {% if filter %}
    <form action="" method="get" class="form form-inline">
        {{filter.form.teacher | as_crispy_field}}
        {{filter.form.start | as_crispy_field}}
        {{filter.form.status | as_crispy_field}}
        <input type="submit" class="btn btn-outline-danger" value="Filter" />
    </form>
{% endif %}
{% render_table table %}

</div>
</div>
{% endblock %}