{% extends 'administrative/administrative_base.html' %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %} {% endblock title %}

{% block control_content %}
<div class="row">
    <div class="col-8">
        <p class="h1">{% translate 'Appointments' %}</p>
        <p class="text-secondary">{% translate 'All appointments are listed here.' %}</p>
    </div>
    <div class="col-4 position-relative"><a
            class="btn btn-outline-danger position-absolute top-50 end-0 translate-middle-y" data-bs-toggle="modal"
            data-bs-target="#formularModal">{% translate 'Create' %}</a>
    </div>
</div>

{% block time_slot_content %}
{% endblock time_slot_content %}

<div class="modal fade" id="formularModal" tabindex="-1" aria-labelledby="formularModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formularModalLabel">Add Fomular</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <style>
                        .active {
                            border-color: red !important;
                        }

                        /* change this color */
                    </style>
                    {%for date in dates %}
                    <li class="nav-item" role="presentation">
                        <button
                            class="nav-link bg-white text-danger border border-light {% if forloop.counter0 == 0 %}active{%endif%}"
                            id="pills-{{date.id}}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{date.id}}"
                            type="button" role="tab" aria-controls="pills-{{date.id}}" aria-selected="true">
                            {{date.date|date}}</button>

                    </li>
                    {%endfor%}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link bg-white text-danger border border-light" id="pills-new-tab"
                            data-bs-toggle="pill" data-bs-target="#pills-new" type="button" role="tab"
                            aria-controls="pills-new" aria-selected="true">
                            Add new</button>

                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    {%for date in dates %}
                    <div class="tab-pane fade {% if forloop.counter0 == 0 %}show active{%endif%}" id="pills-{{date.id}}"
                        role="tabpanel" aria-labelledby="pills-{{date.id}}-tab" tabindex="0">

                        <form action="{% url 'administrative_event_formular_add_view' event_group_id=date.id %}"
                            method="post">
                            {% csrf_token %}
                            Die Eintragung von Terminen soll stets durch die Angefragte Lehrkraft vorgenommen werden. In
                            diesem Fenster können Sie für die ausgewählten Lehrkräften an einem Tag die Möglichkeit zur
                            Eventerstellung bieten.
                            {{ change_formular|crispy }}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary"
                                    data-bs-dismiss="modal">Abbrechen</button>
                                <input type="submit" class="btn btn-outline-danger" value="Add" />
                            </div>
                        </form>
                    </div>
                    {%endfor%}
                    <div class="tab-pane fade" id="pills-new" role="tabpanel" aria-labelledby="pills-new-tab"
                        tabindex="0">
                        <form action="{% url 'administrative_event_formular_new_date_add_view' %}" method="post">
                            {% csrf_token %}
                            <div class="modal-body">
                                Die Eintragung von Terminen soll stets durch die Angefragte Lehrkraft vorgenommen
                                werden. In diesem Fenster können Sie für die ausgewählten Lehrkräften an einem Tag die
                                Möglichkeit zur Eventerstellung bieten.
                                {{ change_formular_new|crispy }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary"
                                    data-bs-dismiss="modal">Abbrechen</button>
                                <input type="submit" class="btn btn-outline-danger" value="Add" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}