{% load crispy_forms_tags %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% if events.base_events|length == 0 %}
<div class="card border-danger mb-3">
    <div class="card-body row">
        <div class="col col-12 col-md-8">
            <h5 class="card-title">{% translate 'No base events' %}</h5>
            <div class="card-text">{% translate 'Currently no base events with events in the future are definded. Base events must be present for any action. To resolve this issue, please create a new base event or extend an existing base event by a new date.' %}</div>
        </div>
        <div class="col col-12 col-md-4 d-flex justify-content-end align-items-center">
            <a
            class="btn btn-outline-danger" data-bs-toggle="modal"
            data-bs-target="#formularModal">{% translate 'Create' %}</a>
        </div>
    </div>
</div>
{% endif %}

<p class="h1">{{base_event}}</p>

<div class="row gx-3 gy-3">
    <div class="card card-body p-3 col-12 col-lg-6">
        <p class="h4 text-secondary">{% translate 'General event data' %}</p>

        <div class="row gx-1 gy-1">
            <p class="mb-1 col-4 col-lg-4 align-items-center d-flex">{% translate 'Total:' %}</p>
            <p class="mb-1 col-4 col-lg-4 align-items-center d-flex">{{ events.total }} 
            <div class="col-4 col-lg-4">
            <a class="mb-1 btn btn-outline-danger d-flex justify-content-center" href="{%url 'administrative_event_list_view' %}">{% translate 'View' %}</a>
            </div>
            <p class="mb-1 col-4 col-lg-4 align-items-center d-flex">{% translate 'Upcomming:' %}</p>
            <p class="mb-1 col-4 col-lg-8 align-items-center d-flex">{{ events.upcomming }}</p>
            <p class="mb-1 col-4 col-lg-4 align-items-center d-flex">{% translate 'Base events:' %}</p>
            <p class="mb-1 col-4 col-lg-8 align-items-center d-flex">{{events.base_events_str}}</p>
        </div>

    </div>
    {% comment %} <div class="card card-body p-3 col-12 col-lg-6">
        <p class="h4 text-secondary">{% translate 'Bookin information' %}</p>

        <div class="row">
            <div id="container" style="width: 100%;">
                <canvas id="booking-chart"></canvas>
            </div>
            <script>
        
            var event_chart_config = {
                type: 'pie',
                data: {
                datasets: [{
                    data: {{ booking_statistics.data|safe }},
                    backgroundColor: [
                    '#198754', '#DC4C64', '#E4A11B', 
                    ],
                    label: 'Booking information'
                }],
                labels: {{ booking_statistics.labels|safe }}
                },
                options: {
                responsive: true
                }
            };
        
            window.onload = function() {
                var ctx = document.getElementById('booking-chart').getContext('2d');
                window.myPie = new Chart(ctx, event_chart_config);
            };
        
            </script> 
        </div>
        
    </div>
    <div class="card card-body p-3 mb-3 col-12 col-lg-6">
        <p class="h4 text-secondary">{% translate 'Availability information' %}</p>
        <div id="container" style="width: 100%;">
            <canvas id="availability-chart"></canvas>
        </div>
        <script>
    
        var availability_chart_config = {
            type: 'pie',
            data: {
            datasets: [{
                data: {{ availability_statistics.data|safe }},
                backgroundColor: [
                '#198754', '#DC4C64', '#E4A11B', '#007bff', 
                ],
                label: 'Availability information'
            }],
            labels: {{ availability_statistics.labels|safe }}
            },
            options: {
            responsive: true
            }
        };

        var event_chart_config = {
            type: 'pie',
            data: {
            datasets: [{
                data: {{ booking_statistics.data|safe }},
                backgroundColor: [
                '#198754', '#DC4C64', '#E4A11B', 
                ],
                label: 'Booking information'
            }],
            labels: {{ booking_statistics.labels|safe }}
            },
            options: {
            responsive: true
            }
        };
    
        window.onload = function() {
            var ctx = document.getElementById('availability-chart').getContext('2d');
            window.myPie = new Chart(ctx, availability_chart_config);
            var ctx = document.getElementById('booking-chart').getContext('2d');
            window.myPie = new Chart(ctx, event_chart_config);
        };
    
        </script> 
    </div> {% endcomment %}
    <div class="card card-body p-3 mb-3 col-12 col-lg-6">
        <p class="h4 text-secondary">{% translate 'Quick actions' %}</p>
        <a class="btn btn-outline-danger mt-2" href="{% url 'administrative_event_list_view' %}?base_event={{base_event.pk}}">Show all events</a>
        <a
            class="btn btn-outline-danger mt-2" data-bs-toggle="modal"
            data-bs-target="#formularModal">{% translate 'Create' %}</a>
        {% comment %} <div class="row">
            <p class="mb-1 col-4 col-lg-4 col-xxl-3">{% translate 'Lead status last changed:' %}</p>
            <p class="mb-1 col-8 col-lg-8 col-xxl-9">{{ event.lead_status_last_change }}</p>
        </div>
            <form method="POST">
                {{ form | crispy }}
                {% csrf_token %}
        
                <div class="row">
                    <div class="col d-flex justify-content-end">
                        <button class="btn btn-outline-danger mt-2" type="submit">
                            {%translate 'Save' %}
                        </button>
                    </div>
                </div>
            </form> {% endcomment %}
    </div>
    <div class="card card-body p-3 mb-3 col-12">
        <p class="h4 text-secondary">{% translate 'Current base events' %}</p>
        {% render_table events.base_events_table %}
        <div class="col d-flex justify-content-end">
            <a class="btn btn-outline-danger mt-2" href="{% url 'base_events_table' %}">{% translate 'Show all' %}</a>
        </div>
    </div>
</div>



<style>
    .form-check-input {
        cursor: pointer;
    }

    .form-check-label {
        cursor: pointer;
    }
</style>

<div class="modal fade" id="formularModal" tabindex="-1" aria-labelledby="formularModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formularModalLabel">{% translate 'Add Fomular' %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-1">Base event:</div>

                <ul class="nav nav-pills mb-3" id="pills-base-tab" role="tablist">
                    <style>
                        .active {
                            border-color: #dc3545 !important;
                        }
                    </style>

                    {% if events.structure|length > 0 %}
                    {%for base_group in events.structure %}
                    <li class="nav-item" role="presentation">
                        <button
                            class="nav-link bg-white text-danger border border-white {% if forloop.counter0 == 0 %}active{%endif%}"
                            id="pills-base-{{base_group.id}}-tab" data-bs-toggle="pill" data-bs-target="#pills-base-{{base_group.id}}"
                            type="button" role="tab" aria-controls="pills-base-{{base_group.id}}" aria-selected="true">
                            {{base_group.name}}</button>

                    </li>
                    {%endfor%}
                    {% endif %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link bg-white text-danger border border-white" id="pills-base-new-tab"
                            data-bs-toggle="pill" data-bs-target="#pills-base-new" type="button" role="tab"
                            aria-controls="pills-base-new" aria-selected="true">
                            <i class="fa-solid fa-plus"></i></button>

                    </li>
                </ul>

                <div class="tab-content" id="pills-base-tabContent">
                    {% for base_group in events.structure %}
                    <div class="tab-pane fade {% if forloop.counter0 == 0 %}show active{%endif%}" id="pills-base-{{base_group.id}}"
                            role="tabpanel" aria-labelledby="pills-base-{{base_group.id}}-tab" tabindex="0">
                    <div class="mb-1">Day: </div>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <style>
                            .active {
                                border-color: #dc3545 !important;
                            }
                        </style>
    
                        {% if base_group.dates|length > 0 %}
                        {%for date in base_group.dates %}
                        <li class="nav-item" role="presentation">
                            <button
                                class="nav-link bg-white text-danger border border-white {% if forloop.counter0 == 0 %}active{%endif%}"
                                id="pills-{{date.id}}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{date.id}}"
                                type="button" role="tab" aria-controls="pills-{{date.id}}" aria-selected="true">
                                {{date.date.day}}.{{date.date.month}}.{{date.date.year}}</button>
    
                        </li>
                        {%endfor%}
                        
                        <li class="nav-item" role="presentation">
                            <button class="nav-link bg-white text-danger border border-white" id="pills-new-{{base_group.id}}-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-{{base_group.id}}-new" type="button" role="tab"
                                aria-controls="pills-{{base_group.id}}-new" aria-selected="true">
                                <i class="fa-solid fa-plus"></i></button>
    
                        </li>
                        {% endif %}
                    </ul>
    
                    <div class="tab-content" id="pills-tabContent">
                        {%for date in base_group.dates %}
                        <div class="tab-pane fade {% if forloop.counter0 == 0 %}show active{%endif%}" id="pills-{{date.id}}"
                            role="tabpanel" aria-labelledby="pills-{{date.id}}-tab" tabindex="0">
    
                            <form action="{% url 'administrative_event_formular_add_view' event_group_id=date.id %}"
                                method="post">
                                {% csrf_token %}
    
                                <div class="mb-1">
                                    {% translate 'Select teachers so they can submit their times using the form:' %}
                                </div>
                                <div>
                                    {{ events.change_formular|crispy }}
                                </div>
    
                                <div class="modal-footer d-flex justify-content-between">
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                        {% translate 'Cancel' %}</button>
                                    <input type="submit" class="btn btn-outline-danger" value="{% translate 'Add' %}" />
                                </div>
                            </form>
                        </div>
                        {%endfor%}
                        
                        <div class="tab-pane fade {% if base_group.dates|length == 0 %}show active{% endif %}" id="pills-{{base_group.id}}-new" role="tabpanel" aria-labelledby="pills-new-{{base_group.id}}-tab"
                            tabindex="0">
                            <form action="{% url 'administrative_event_formular_new_date_add_view' %}" method="post">
                                {% csrf_token %}
                                    
                                    {% comment %} <div class="mb-1">
                                        {% translate 'Base event*:' %}
                                    </div>
                                    <div> {% endcomment %}
                                        {{ base_group.add_new_date_form.base_event | as_crispy_field }}
                                    {% comment %} </div> {% endcomment %}
    
                                    {% comment %} <div class="mb-1">
                                        {% translate 'Date*:' %}
                                    </div>
                                    <div> {% endcomment %}
                                        {{ base_group.add_new_date_form.date | as_crispy_field }}
                                    {% comment %} </div> {% endcomment %}
    
                                    {% comment %} <div class="mb-1">
                                        {% translate 'Lead inquiry start*:' %}
                                    </div>
                                    <div> {% endcomment %}
                                        {{ base_group.add_new_date_form.lead_inquiry_start | as_crispy_field }}
                                    {% comment %} </div> {% endcomment %}
    
                                    {% comment %} <div class="mb-1">
                                        {% translate 'Lead start*:' %}
                                    </div>
                                    <div> {% endcomment %}
                                        {{ base_group.add_new_date_form.lead_start | as_crispy_field }}
                                    {% comment %} </div> {% endcomment %}
    
                                    <div class="mb-1">
                                        {% translate 'Teachers*' %}
                                    </div>
                                    <div>
                                        {{ base_group.add_new_date_form.teacher | as_crispy_field }}
                                    </div>
    
                                <div class="modal-footer d-flex justify-content-between">
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                        {% translate 'Cancel' %}</button>
                                    <input type="submit" class="btn btn-outline-danger" value="{% translate 'Add' %}" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                    {% endfor %}
                    <div class="tab-pane fade {% if events.structure|length == 0 %}show active{% endif %}" id="pills-base-new" role="tabpanel" aria-labelledby="pills-base-new-tab"
                            tabindex="0">
                            <form action="{% url 'administrative_event_formular_new_date_add_view' %}" method="post">
                                {% csrf_token %}
                                    
                                    {% comment %} <div class="mb-1">
                                        {% translate 'Base event*:' %}
                                    </div>
                                    <div> {% endcomment %}
                                        {{ events.change_formular_new.base_event | as_crispy_field }}
                                    {% comment %} </div> {% endcomment %}
    
                                    {% comment %} <div class="mb-1">
                                        {% translate 'Date*:' %}
                                    </div>
                                    <div> {% endcomment %}
                                        {{ events.change_formular_new.date | as_crispy_field }}
                                    {% comment %} </div> {% endcomment %}
    
                                    {% comment %} <div class="mb-1">
                                        {% translate 'Lead inquiry start*:' %}
                                    </div>
                                    <div> {% endcomment %}
                                        {{ events.change_formular_new.lead_inquiry_start | as_crispy_field }}
                                    {% comment %} </div> {% endcomment %}
    
                                    {% comment %} <div class="mb-1">
                                        {% translate 'Lead start*:' %}
                                    </div>
                                    <div> {% endcomment %}
                                        {{ events.change_formular_new.lead_start | as_crispy_field }}
                                    {% comment %} </div> {% endcomment %}
    
                                    <div class="mb-1">
                                        {% translate 'Teachers*' %}
                                    </div>
                                    <div>
                                        {{ events.change_formular_new.teacher | as_crispy_field }}
                                    </div>
    
                                <div class="modal-footer d-flex justify-content-between">
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                        {% translate 'Cancel' %}</button>
                                    <input type="submit" class="btn btn-outline-danger" value="{% translate 'Add' %}" />
                                </div>
                            </form>
                        </div>
                </div>

                {% comment %} <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <style>
                        .active {
                            border-color: #dc3545 !important;
                        }
                    </style>

                    {% if dates|length > 0 %}
                    {%for date in dates %}
                    <li class="nav-item" role="presentation">
                        <button
                            class="nav-link bg-white text-danger border border-white {% if forloop.counter0 == 0 %}active{%endif%}"
                            id="pills-{{date.id}}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{date.id}}"
                            type="button" role="tab" aria-controls="pills-{{date.id}}" aria-selected="true">
                            {{date.date.day}}.{{date.date.month}}.{{date.date.year}}</button>

                    </li>
                    {%endfor%}
                    
                    <li class="nav-item" role="presentation">
                        <button class="nav-link bg-white text-danger border border-white" id="pills-new-tab"
                            data-bs-toggle="pill" data-bs-target="#pills-new" type="button" role="tab"
                            aria-controls="pills-new" aria-selected="true">
                            <i class="fa-solid fa-plus"></i></button>

                    </li>
                    {% endif %}
                </ul> {% endcomment %}

                {% comment %} <div class="tab-content" id="pills-tabContent">
                    {%for date in dates %}
                    <div class="tab-pane fade {% if forloop.counter0 == 0 %}show active{%endif%}" id="pills-{{date.id}}"
                        role="tabpanel" aria-labelledby="pills-{{date.id}}-tab" tabindex="0">

                        <form action="{% url 'administrative_event_formular_add_view' event_group_id=date.id %}"
                            method="post">
                            {% csrf_token %}

                            <div class="mb-1">
                                {% translate 'Select teachers so they can submit their times using the form:' %}
                            </div>
                            <div>
                                {{ events.change_formular|crispy }}
                            </div>

                            <div class="modal-footer d-flex justify-content-between">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    {% translate 'Cancel' %}</button>
                                <input type="submit" class="btn btn-outline-danger" value="{% translate 'Add' %}" />
                            </div>
                        </form>
                    </div>
                    {%endfor%}
                    
                    <div class="tab-pane fade {% if dates|length == 0 %}show active{% endif %}" id="pills-new" role="tabpanel" aria-labelledby="pills-new-tab"
                        tabindex="0">
                        <form action="{% url 'administrative_event_formular_new_date_add_view' %}" method="post">
                            {% csrf_token %}
                                
                                <div class="mb-1">
                                    {% translate 'Base event*:' %}
                                </div>
                                <div>
                                    {{ events.change_formular_new.base_event | as_crispy_field }}
                                </div>

                                <div class="mb-1">
                                    {% translate 'Date*:' %}
                                </div>
                                <div>
                                    {{ events.change_formular_new.date | as_crispy_field }}
                                </div>

                                <div class="mb-1">
                                    {% translate 'Lead inquiry start*:' %}
                                </div>
                                <div>
                                    {{ events.change_formular_new.lead_inquiry_start | as_crispy_field }}
                                </div>

                                <div class="mb-1">
                                    {% translate 'Lead start*:' %}
                                </div>
                                <div>
                                    {{ events.change_formular_new.lead_start | as_crispy_field }}
                                </div>

                                <div class="mb-1">
                                    {% translate 'Teachers*' %}
                                </div>
                                <div>
                                    {{ events.change_formular_new.teacher | as_crispy_field }}
                                </div>

                            <div class="modal-footer d-flex justify-content-between">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    {% translate 'Cancel' %}</button>
                                <input type="submit" class="btn btn-outline-danger" value="{% translate 'Add' %}" />
                            </div>
                        </form>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</div>