Guten Morgen {{ user.first_name }} {{ user.last_name }},
um einen Reibungslosen ablauf am heutigen Elternsprechtag zu gewährleisten, möchten wir Ihnen all Ihre bisher gebuchten Termine schicken.

Wir haben Ihnen eine PDF-Datei mit all Ihren aktuellen Terminen an diese Email angehangen. Falls Sie weitere Termine gebucht haben, die nicht in dieser Liste aufgeführt sind, können Sie sich auf der Startseite des Portals jederzeit einen aktuellen Plan herutnerladen. 

Mit freundlichen Grüßen
Ihr Elternsprechtag-Team