{% extends 'administrative/administrative_base.html' %}
{% load crispy_forms_tags %}
{% block control_content %}

<div class="card card-body p-4">
    <form action="." method="POST" enctype="multipart/form-data">
        {{ form | crispy }}
        {% csrf_token %}

        <div class="row">
            <div class="col d-flex">
                <a class="btn btn-outline-secondary mt-2" href="{% url 'administrative_event_formular_view' %}">Abbrechen</a>
            </div>
            <div class="col d-flex justify-content-end">
                <button class="btn btn-outline-danger mt-2" type="submit">
                    Save
                </a>
            </div>
        </div>
    </form>
</div>

{% endblock %}