{% extends "admin/base_site.html" %}
{% block title %}Backup Upload{% endblock %}
{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('whatever site administration') }}</a>
    </h1>
{% endblock %}
{% block content %}
    <h1>Upload a Backup file</h1>
    <br/>
    <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <br/>
        <button class="button" type="submit" style="background-color: green">Upload</button>
        <a style="padding-left: 20px" href="{% url 'admin:custom_backup_backup_changelist' %}" type="button">Cancel</a>
    </form>
    <script></script>
{% endblock %}