{% extends 'administrative/time_slots/time_slots_base.html' %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block header %} {% translate 'Teacher day event groups' %} {% endblock header %}
{% block underline %} {% translate 'All groups of events per teacher per date are listed here.' %} {% endblock underline %}

{% block title %} {% translate 'Teacher groups' %} {% endblock title %}

{% block time_slot_content %}
{% if filter  %}
<form action="" method="get" class="form form-inline">
    <div class="grid gap-3 d-flex">
        <div class="flex-grow-1">
            {{filter.form.teacher | as_crispy_field}}
        </div>
        <div class="">
            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefilter"
                aria-expanded="false" aria-controls="collapseExample">
                <i class="fa-solid fa-filter"></i> {% translate 'Filter' %}
            </button>
        </div>
    </div>
    <div class="row mb-2">
        <div class="collapse" id="collapsefilter">
            <div class="card card-body">
                {% comment %} <div class="h5">
                    {% translate 'Status' %}
                </div>
                <div>
                    {{filter.form.status | as_crispy_field}}
                </div>
                <div class="dropdown-divider"> {% endcomment %}

                {% comment %} </div> {% endcomment %}
                <div class="h5">
                    {% translate 'Lead status' %}
                </div>
                <div>
                    {{filter.form.lead_status | as_crispy_field}}
                </div>
                <div class="dropdown-divider">
                
                </div>
                <div class="h5">
                    {% translate 'Base event' %}
                </div>
                <div>
                    {{filter.form.day_group | as_crispy_field}}
                </div>
                <div class="dropdown-divider">

                </div>
                <div class="row">
                    <div class="col d-flex">
                    </div>
                    <div class="col d-flex justify-content-end">
                        <button class="btn btn-outline-danger mt-2" type="submit">
                            {% translate 'Filter' %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endif %}
{% render_table table %}
<style>
    a {
        color: black;
        text-decoration: none;
    }
    a:hover {
        color: #dc3545;
    }
</style>
<script>
    var teacher = document.getElementById("teacher_id");
    var start = document.getElementById("start_id");
    var base = document.getElementById("base_id");
    teacher.children[0].innerHTML += ` <i class="fa-solid fa-sort"></i>`;
    start.children[0].innerHTML += ` <i class="fa-solid fa-sort"></i>`;
    base.children[0].innerHTML += ` <i class="fa-solid fa-sort"></i>`;
</script>
{% endblock %}