{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}

{% block title %} Dashboard - Lehrer {% endblock title %}

{% block content %}

<div class="row gx-3 gy-3">
    <div class="col-12">
        <div class="card card-body p-4">

            {% if not student.customuser_set.exists %}
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:">
                    <use xlink:href="#exclamation-triangle-fill" />
                </svg>
                <div>
                    <h4>Kein Elternteil definiert!</h4><br />
                    Für {{ student.first_name }} {{student.last_name}} hat sich bisher kein Elternteil registriert.
                    Treffen Sie
                    daher bitte mit {{student.first_name}} persönliche eine Absprache über einen möglichen Termin.
                </div>
            </div>
            <div class="d-flex d-md-none row">
                <div class="d-flex d-md-none col-12">
                    <a type="button" class="btn btn-outline-secondary col-12 col-lg-3"
                        href="{% url 'home' %}">Zurück</a>
                </div>
            </div>

            <div class="d-none d-md-flex row">
                <div class="d-none d-md-flex col">
                    <a type="button" class="btn btn-outline-secondary col-12 col-md-3 mt-2 mb-2 me-2"
                        href="{% url 'home' %}">Zurück</a>
                </div>
            </div>
            {% else %}
            <p class="h1">Anfrage erstellen</p>
            <p class="text-secondary">Stellen Sie hier eine Anfrage für eine:n Schüler:in</p>

            <form method="post">
                <div class="row">
                    <p class="col-3 col-sm-4 col-xl-2 col-lg-3" style="font-weight: bold;">
                        Schüler:in:
                    </p>
                    <p class="col">
                        {{ student }}
                    </p>
                </div>
                <div class="row">
                    <p class="col-3 col-sm-4 col-xl-2 col-lg-3" style="font-weight: bold;">
                        Elternteil:
                    </p>
                    <p class="col">
                        {{ student.customuser_set.first.first_name }} {{ student.customuser_set.first.last_name }}
                    </p>
                </div>
                <div class="row">
                    <p class="col-3 col-sm-4 col-xl-2 col-lg-3" style="font-weight: bold;">
                        Grund:
                    </p>
                    <p class="col">
                        {% csrf_token %}
                        {{ form.reason|as_crispy_field }}
                    </p>
                </div>
                <div class="d-flex d-md-none row">
                    <div class="d-flex d-md-none col-12">
                        <input type="submit" class="btn btn-outline-danger mb-2 mt-2 me-2" value="Anfrage stellen" />
                    </div>
                    <div class="d-flex d-md-none col-12">
                        <a type="button" class="btn btn-outline-secondary col-12 col-lg-3"
                            href="{% url 'home' %}">Zurück</a>
                    </div>
                </div>

                <div class="d-none d-md-flex row">
                    <div class="d-none d-md-flex col">
                        <a type="button" class="btn btn-outline-secondary col-12 col-md-3 mt-2 mb-2 me-2"
                            href="{% url 'home' %}">Zurück</a>
                    </div>
                    <div class="d-none d-md-flex col justify-content-end">
                        <input type="submit" class="btn btn-outline-danger mb-2 mt-2 me-2" value="Anfrage stellen" />
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}