{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %} {% translate 'Inquiry' %} {% endblock title %}

{% block help_url_smallscreen %} {% url 'wiki_view_inquiry' %} {% endblock %}
{% block help_url_bigscreen %} {% url 'wiki_view_inquiry' %} {% endblock %}

{% block content %}
<div class="container p-2 pt-4">
    <div class="row">
        <div class="column">
            <div class="card" style="border-radius: 10px;">
                <div class="card-body p-4">
                    <ul class="list-group list-group-flush">
                        <h1>{% translate 'Inquiry' %}</h1>
                        <p class="text-secondary">{% translate 'Edit your created inquiry.' %}
                        </p>
                        <li class="list-group-item">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col text-start">
                                        <div>
                                            <strong>{% translate 'Student:' %} </strong>{{ student }}<br />
                                        </div>

                                        <div>
                                            <strong>{% translate 'Parent:' %} </strong>
                                            {{ parent_first_name }}
                                            {{ parent_last_name }}<br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <form method="post">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="container">
                                        <div class="row align-items-center">
                                            <div class="col text-start">
                                                {% csrf_token %}

                                                <div class="mb-2">
                                                    <strong>{% translate 'Reason for the inquiry:' %} </strong>
                                                </div>

                                                <div>
                                                    {{ form.reason|as_crispy_field }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item mt-2">
                                    <div class="container">
                                        <div class="row gy-1">
                                            <div class="d-none d-lg-block col-lg-5 col-xl-6">
                                                <a type="button" class="btn btn-outline-secondary col-12 col-lg-3"
                                                    href="{% url 'home' %}">{% translate 'Back' %}</a>
                                            </div>
                                            <div class="col-12 col-lg-7 col-xl-6 d-flex justify-content-end">
                                                <div class="col-12 col-xl-8 row gx-1 gy-1">
                                                    <div class="col-6">
                                                        <button type="button" class="btn btn-outline-secondary col-12"
                                                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                            {% translate 'Withdraw request' %}
                                                        </button>
                                                    </div>
                                                    <div class="col-6">
                                                        <input type="submit" class="btn btn-outline-danger col-12"
                                                            value="{% translate 'Save' %}" />
                                                    </div>
                                                    <div class="d-block d-lg-none col-12">
                                                        <a type="button"
                                                            class="btn btn-outline-secondary col-12 col-lg-3"
                                                            href="{% url 'home' %}">{% translate 'Back' %}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </ul>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">{% translate 'Anfrage zurückziehen'
                                    %}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% translate 'Would you like to withdraw the request for an appointment with the parents from ' %}
                                {{student.first_name}} {{student.last_name}}
                                {% translate '?' %}
                            </div>
                            <div class="modal-footer d-flex justify-content-between">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{%
                                    translate 'Cancel' %}</button>
                                <a type="button" class="btn btn-outline-danger"
                                    href="{% url 'teaher_delete_inquiry' f_inquiry_id %}">
                                    {% translate 'Withdraw request' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}