{% extends "profile_settings/profile_layout.html" %}
{% load crispy_forms_tags %}

{% block title %} Dashboard - Profile {% endblock title %}

{% block profile_content %}
<p class="h1">Kennwort ändern</p>
<form method="post">
    {% csrf_token %}
    {{ change_password|crispy }}
    <div class="row gy-1">
        <div class="col-12 col-lg-4 col-xl-2 d-flex justify-content-end">
            <button type="submit" class="btn btn-outline-danger col-12">
                Speichern
            </button>
        </div>
    </div>
</form>
{% endblock profile_content %}