{% extends "profile_settings/profile_layout.html" %}
{% load crispy_forms_tags %}

{% block title %} Dashboard - Profile {% endblock title %}

{% block profile_content %}
<p class="h1">Kennwort ändern</p>
<form method="post">
    {% csrf_token %}
    {{ change_password|crispy }}
    <div class="text-end">
        <button type="submit" class="btn btn-outline-danger" id="submit_button">
            Speichern
        </button>
    </div>
            
</form>
<script>
    document.getElementById("submit_button").addEventListener("click", function(event) {
        event.target.blur();
    });
</script>
{% endblock profile_content %}