{% extends "profile_settings/profile_layout.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block profile_title %} {% translate 'Password' %} {% endblock profile_title %}

{% block profile_help_url_smallscreen %} {% url 'wiki_change_password' %} {% endblock profile_help_url_smallscreen %}
{% block profile_help_url_bigscreen %} {% url 'wiki_change_password' %} {% endblock profile_help_url_bigscreen %}

{% block profile_content %}
<p class="h1">{% translate 'Change password' %}</p>
<p class="text-secondary">{% translate 'Please change your password here regularly to maintain the security of your account.' %}</p>
<form method="post" id="password_form">
    {% csrf_token %}
    {{ change_password|crispy }}

    <div class="row">
        <div class="col d-flex">
            <div class="btn btn-outline-secondary mt-2" id="cancel_button">{% translate 'Cancel' %}</div>
        </div>
        <div class="col d-flex justify-content-end">
            <button type="submit" class="btn btn-outline-danger mt-2" id="submit_button">
                {% translate 'Save' %}
            </button>
        </div>
    </div>
            
</form>
<script>
    document.getElementById("submit_button").addEventListener("click", function(event) {
        event.target.blur();
    });
    document.getElementById("cancel_button").addEventListener("click", function(event) {
        event.target.blur();

        document.getElementById("password_form").reset();
    });
</script>
{% endblock profile_content %}