{% extends "profile_settings/profile_layout.html" %}
{% load crispy_forms_tags %}

{% block title %} Dashboard - Profile {% endblock title %}

{% block profile_content %}
<p class="h1">Mein Profil</p>
{% if user.role == 1 %}
<div class="row p-3">
    {% if user.teacherextradata.image %}
    <div class="flex-shrink-0 col col-12 col-sm-5 col-lg-3">
        <img src="{{ user.teacherextradata.image.url }}" alt="Generic placeholder image" class="img-fluid"
            style="border-radius: 10px;">
    </div>
    <div class="col col-7 col-sm-7 col-lg-9">
        <p class="secondary-text">Dieses Bild ist nur für Elternteile sichtbar.</p>
    </div>
    {% else %}
    <div class="col col-12">
        <p class="heading">Sie haben kein Bild hochgeladen</p>
        <p class="secondary-text">Dieses Bild ist nur für Elternteile sichtbar.</p>
    </div>
    {% endif %}
</div>
<!-- Typ wird nur gesetzt, wenn Lehrer -->
<form method="post" enctype="multipart/form-data">
    {% else %}
    <form method="post">
        {% endif %}
        {% csrf_token %}
        {{ profile_form|crispy }}
        <div class="text-end">
            <button type="submit" class="btn btn-outline-danger">
                Speichern
            </button>
        </div>

    </form>
    {% endblock profile_content %}