{% extends "profile_settings/profile_layout.html" %}
{% load i18n %}

{% block profile_title %} {% translate 'Students' %} {% endblock profile_title %}

{% block profile_help_url_smallscreen %} {% url 'wiki_student_list' %} {% endblock profile_help_url_smallscreen %}
{% block profile_help_url_bigscreen %} {% url 'wiki_student_list' %} {% endblock profile_help_url_bigscreen %}

{% block profile_content %}

<p class="h1">{% translate 'Students' %}</p>
<p class="text-muted">{% translate 'All students who are assigned to you are listed here.' %}</p>
<ul class="list-group list-group-flush">
    <!-- Iterate over object_list -->
    {% for student in object_list %}
    <!-- Display Objects -->
    <li class="list-group-item">
        <div class="container">
            {{ student.first_name }} {{ student.last_name }}
        </div>
    </li>
    <!-- If object_list is empty  -->
    {% empty %}
    <li class="list-group-item">{% translate 'No students' %}</li>
    {% endfor %}
</ul>
{% endblock profile_content %}