{% extends "profile_settings/profile_layout.html" %}
{% load crispy_forms_tags %}

{% block title %} Dashboard - Profile {% endblock title %}

{% block profile_content %}
<script>

    function remove(el) {
        var active = document.getElementById("store_active");
        var inactive = document.getElementById("store_inactive");
        var p_active = document.querySelector("#store_active p");
        var p_inactive = document.querySelector("#store_inactive p");

        if (el.parentElement == active) {
            if (inactive.children.length <= 1) {
                p_inactive.style.display = "none";
            }
            inactive.appendChild(el);
            if (active.children.length <= 1) {
                p_active.style.display = "block";
            }
        } else if (el.parentElement == inactive) {
            if (active.children.length <= 1) {
                p_active.style.display = "none";
            }
            active.appendChild(el);
            if (inactive.children.length <= 1) {
                p_inactive.style.display = "block";
            }
        }
    }
    function submit_form() {
        // hier muss nh onclick function rein, die beim submit die ids im store_active sammelt und per ajax oder curl an views.py quasi zurückgibt

    }

</script>
<p class="h1">Tags bearbeiten</p>

<div class="d-flex justify-content-start rounded-3 p-2 mt-2 flex-grow-1 border">
    <!-- style="background-color: #efefef;"-->
    <div>
        <p class="small text-success mb-1">Aktive Tags</p>
        <div class="d-flex align-content-start flex-wrap" id="store_active">

            {% for tag in tags %}
            <span class="badge bg-light rounded-pill me-1 mt-1" onclick="remove(this)"
                style="border: 1px solid {{ tag.color }}; color: {{ tag.color }}; cursor: pointer;">
                {{ tag.name }}
            </span>
            {% endfor %}

            {% if tags|length > 0 %}
            <p style="display: none">This teacher does not have any tags</p>
            {% else %}
            <p>This teacher does not have any tags</p>
            {% endif %}

        </div>
    </div>
</div>

<div class="d-flex justify-content-start rounded-3 p-2 mt-2 flex-grow-1 border">
    <!-- style="background-color: #efefef;"-->
    <div>
        <p class="small text-danger mb-1">Inaktive Tags</p>
        <div class="d-flex align-content-start flex-wrap" id="store_inactive">
            {% for tag in all_tags %}
            <span class="badge bg-light rounded-pill me-1 mt-1" onclick="remove(this)" id="tag-id-{{ tag.id }}"
                style="border: 1px solid {{ tag.color }}; color: {{ tag.color }}; cursor: pointer;">
                {{ tag.name }}
            </span>
            {% endfor %}

            {% if tags|length > 0 %}
            <p style="display: none">This teacher does not have any tags</p>
            {% else %}
            <p>This teacher does not have any tags</p>
            {% endif %}

        </div>
    </div>
</div>
<form method="POST" action="{% url 'profile_edit_tag_view' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-success mt-2" onclick="submit_form()">Accept</button>
</form>












<!-- <div class="row">
    <div class="col">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#configureTagsModal">Bearbeiten</button>
    </div>
</div>
{% if tags|length > 0 %}
<div class="card">
    <div class="card-body">
        {% for tag in tags %} -->
<!-- <div class="container" style="color: {{tag.color}};"><strong>{{ tag.name }}</strong></div> -->
<!-- <span class="badge rounded-pill" style="background-color: {{tag.color}};">
            {{ tag.name }}</span>
        {% endfor %}
    </div>
</div>
{% else %}
<p class="text-muted">Es wurden keine Tags konfiguriert.</p>
{% endif %}
<div class="modal fade" id="configureTagsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tags bearbeiten</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="post">
                {% csrf_token %}
                <div class="modal-body">
                    {{ edit_tags|crispy }}
                    <p>Bitte wählen Sie alle Tags aus, die zu Ihrer Position passen. Dies soll es den Eltern erleichten
                        Sie ausfindig zu machen.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Änderungen speichern" />
                </div>
            </form>
        </div>
    </div>
</div> -->
{% endblock profile_content %}