{% extends "profile_settings/profile_layout.html" %}
{% load crispy_forms_tags %}

{% block title %} Dashboard - Profile {% endblock title %}

{% block profile_content %}

<p class="h1">Tags bearbeiten</p>
<p class="text-secondary">Bitte wählen Sie hier Ihre Tags, damit Eltern Sie einfacher finden können.</p>

<noscript>

    <!-- No JavaScript-Disabled version at the moment -->
    Bitte erlauben Sie JavaScript, um Ihre Tags zu ändern. </br>
    <a href="https://www.enable-javascript.com/de/">Hier</a> erfahren Sie, wie dies funktioniert. Vielen Dank!

</noscript>

<div id="js-content" style="display: none;">
    <div class="d-flex justify-content-start rounded-3 p-2 pt-1 flex-grow-1 border">
        <div>
            <p class="small text-success mb-1">Aktive Tags</p>
            <div class="d-flex align-content-start flex-wrap" id="store_active">

                {% for tag in tags %}
                <span class="badge bg-light rounded-pill me-1 mt-1" onclick="remove(this)" id="tag-id-{{ tag.id }}"
                    style="border: 1px solid {{ tag.color }}; color: {{ tag.color }}; cursor: pointer;">
                    {{ tag.name }}
                </span>
                {% endfor %}

                {% if tags|length > 0 %}
                <p style="display: none; margin-bottom: 0;">Diese Lehrkraft hat keine zugewiesenen Tags</p>
                {% else %}
                <p style="margin-bottom: 0">Diese Lehrkraft hat keine zugewiesenen Tags</p>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="d-flex justify-content-start rounded-3 p-2 pt-1 mt-2 flex-grow-1 border">
        <div>
            <p class="small text-danger mb-1">Inaktive Tags</p>
            <div class="d-flex align-content-start flex-wrap" id="store_inactive">
                {% for tag in all_tags %}
                <span class="badge bg-light rounded-pill me-1 mt-1" onclick="remove(this)" id="tag-id-{{ tag.id }}"
                    style="border: 1px solid {{ tag.color }}; color: {{ tag.color }}; cursor: pointer;">
                    {{ tag.name }}
                </span>
                {% endfor %}

                {% if all_tags|length > 0 %}
                <p style="display: none; margin-bottom: 0;">Es gibt keine inaktiven Tags</p>
                {% else %}
                <p style="margin-bottom: 0">Es gibt keine inaktiven Tags</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-outline-secondary mt-2 me-2" id="cancel_button" style="width: 120px;">Abbrechen</button>
        <form method="POST" action="{% url 'profile_edit_tag_view' %}" id="submit_form">
            {% csrf_token %}
            <button class="btn btn-outline-secondary mt-2" id="submit_button" style="width: 120px;">Speichern</button>
        </form>
    </div>
</div>

<script>
    var jsContent = document.getElementById("js-content");
    jsContent.style.display = "block";

    var active = document.getElementById("store_active");
    tags = [];
    for (let i = 0; i < (active.children.length); i++) {
        if (active.children[i].id.startsWith("tag-id-")) {
            tags.push(active.children[i].id.replace("tag-id-", ""));
        }
    }

    const submit_button = document.getElementById('submit_button');
    const cancel_button = document.getElementById('cancel_button');

    function update_submit_color() {
        var s_button = document.getElementById("submit_button");
        tags_to_compare = [];

        for (let i = 0; i < (active.children.length); i++) {
            if (active.children[i].id.startsWith("tag-id-")) {
                tags_to_compare.push(active.children[i].id.replace("tag-id-", ""));
            }
        }

        if (JSON.stringify(tags.sort(function (a, b) { return a - b })) == JSON.stringify(tags_to_compare.sort(function (a, b) { return a - b }))) {
            s_button.classList.remove("btn-outline-danger");
            s_button.classList.add("btn-outline-secondary");
        } else {
            s_button.classList.remove("btn-outline-secondary");
            s_button.classList.add("btn-outline-danger");
        }
    }

    function remove(el) {
        var active = document.getElementById("store_active");
        var inactive = document.getElementById("store_inactive");
        var p_active = document.querySelector("#store_active p");
        var p_inactive = document.querySelector("#store_inactive p");

        if (el.parentElement == active) {
            if (inactive.children.length <= 1) {
                p_inactive.style.display = "none";
            }
            inactive.appendChild(el);
            if (active.children.length <= 1) {
                p_active.style.display = "block";
            }
        } else if (el.parentElement == inactive) {
            if (active.children.length <= 1) {
                p_active.style.display = "none";
            }
            active.appendChild(el);
            if (inactive.children.length <= 1) {
                p_inactive.style.display = "block";
            }
        }

        update_submit_color();
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + "=")) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    submit_button.addEventListener("click", function (event) {
        event.preventDefault();
        event.target.blur();
        url = window.location.href;

        var active = document.getElementById("store_active");

        tags_to_submit = [];

        for (let i = 0; i < (active.children.length); i++) {
            if (active.children[i].id.startsWith("tag-id-")) {
                tags_to_submit.push(active.children[i].id.replace("tag-id-", ""));
            }
        }

        fetch(url, {
            method: "POST",
            credentials: "same-origin",
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': getCookie("csrftoken")
            },
            body: JSON.stringify({ tags: tags_to_submit }),
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error(error);
            });

        tags = tags_to_submit;
        update_submit_color();
    });

    cancel_button.addEventListener("click", function (event) {
        event.preventDefault();
        event.target.blur();
        var active = document.getElementById("store_active");
        var children_active = Array.from(active.children);
        var inactive = document.getElementById("store_inactive");
        var children_inactive = Array.from(inactive.children);
        var p_active = document.querySelector("#store_active p");
        var p_inactive = document.querySelector("#store_inactive p");

        p_inactive.style.display = "none";
        p_active.style.display = "none";

        for (let i = 0; i < children_active.length; i++) {
            if (children_active[i].id.startsWith("tag-id-")) {
                if (!tags.includes(children_active[i].id.replace("tag-id-", ""))) {
                    inactive.appendChild(children_active[i]);
                }
            }
        }
        for (let i = 0; i < (children_inactive.length); i++) {
            if (children_inactive[i].id.startsWith("tag-id-")) {
                if (tags.includes(children_inactive[i].id.replace("tag-id-", ""))) {
                    active.appendChild(children_inactive[i]);
                }
            }
        }

        if (active.children.length <= 1) {
            p_active.style.display = "block";
        }

        if (inactive.children.length <= 1) {
            p_inactive.style.display = "block";
        }

        update_submit_color();
    });

</script>

{% endblock profile_content %}