{% extends "authentication/base.html" %}
{% load i18n %}
{% block title %} Register {% endblock title %}

{% block content %}

<head>
    {% load static %}
    <!-- <link href="{% static 'authentication/style_login.css' %}" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
</head>
<style>
    #div_id_password {
        margin-bottom: 0.5vh !important;
    }
</style>
<div class="row justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
        <div class="card shadow" style="border-radius: 10px;">
            <div class="progress shadow-sm" role="progressbar" aria-label="" aria-valuenow="75" aria-valuemin="0"
                aria-valuemax="100" style="height: 7px;">
                <div class="progress-bar bg-danger" style="width: 66%;"></div>
            </div>
            <div class="card-body d-grid p-4 ps-5 pe-5 text-center">
                <form method="post">
                    <h1 class="pb-3">Register</h1>
                    <p class="pb-3 text-secondary">Enter your personal data to create a new parent account</p>
                    {% csrf_token %}
                    {% load crispy_forms_tags %}

                    {{ form.email|as_crispy_field }}
                    {{ form.first_name|as_crispy_field }}
                    {{ form.last_name|as_crispy_field }}
                    {{ form.password|as_crispy_field }}
                    {{ form.confirm_password|as_crispy_field }}

                    <!-- TODO: Formhelper is missing, no hints for pw , also errors are missing-->

                    <!-- {% for error in otp_form.otp6.errors.as_data %}
                    {% if error.code == 'invalid_type' %}
                    <div class="position-absolute text-danger"><i class="fa-solid fa-caret-right"></i> Please enter a
                        code consisting only of digits</div>
                    {% elif error.code == 'invalid_length' %}
                    <div class="position-absolute text-danger"><i class="fa-solid fa-caret-right"></i> Please enter a
                        code consisting of 6 digits</div>
                    {% elif error.code == 'incorrect_code' %}
                    <div class="position-absolute text-danger"><i class="fa-solid fa-caret-right"></i> Please enter the
                        correct verification code</div>
                    {% endif %}
                    {% endfor %} -->
                    <div class="d-grid ms-3 me-3 pt-4 pb-3 mt-5">
                        <input type="submit" class="btn btn-outline-danger" value="Register">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





<!-- <head>
    {% load static %}
    <link href="{% static 'authentication/style_register_parent.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
{% load crispy_forms_tags %}
<form method="post">
    <div class="fortschritt_balken">
        <div class="fortschritt"></div>
    </div>
    <h1>{% translate 'Sign up' %}</h1>
    <p>{% translate 'Please sign up your parent account' %}</p>
    {% csrf_token %}
    {{ form.email|as_crispy_field }}
    <input type="submit" value="Submit" class="button">
</form> -->
{% endblock content %}