{% extends "authentication/base.html" %}
{% load i18n %}
{% block title %} {% translate 'Register' %} {% endblock title %}

{% block content %}

<head>
    {% load static %}
    <link href="{% static 'authentication/style_register_otp.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
{% load crispy_forms_tags %}
<form method="post">
    <h1>Welcome</h1>
    <p>To add</p>
    <div class="div_name">
        {{ child_name }}
    </div>
    <p>{% translate 'to a parent account please <br />enter the given code' %}</p>
    {% csrf_token %}
    {{ otp_form.otp|as_crispy_field }}
    <input type="submit" value="Submit" class="button">
</form>
{% endblock content %}
<!-- To proceed creating a parent account for ... please enter the verification code -->