{% extends "authentication/base.html" %}
{% load i18n %}
{% block title %} Register {% endblock title %}

{% block content %}
<head>
    {% load static %}
    <link href="{% static 'authentication/style_register_choose.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<div class="box">
    <h1>Please select a method to add {{child_name}} to a new or an existing parent account</h1>
    <div class="strich"></div>
    <p class="login_zusatz">to an existing parent account</p>
    <a href="{% url 'login' %}?next={{ path }}?login=true" class="login">{% translate 'Login' %}</a>
    <p class="register_zusatz">for a new parent account</p>
    <a href="{{ path }}?register=true" class="register">Register</a>
</div>
{% endblock content %}