{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}

{% block title %} Dashboard - Lehrer {% endblock title %}

{% block content %}
<div class="row gx-3 gy-3">
    <div class="col-12">
        <div class="card card-body p-4">
            <p class="h1">Terminantrag für den {{formula.date}}</p>
            <p class="text-secondary">Bitte geben Sie hier Ihren persönlichen Zeitraum für den Elternsprechtag am {{formula.date }} an.</p>

            <form method="post">
                {% csrf_token %}
                {{ form.start_time | as_crispy_field }}
                {{ form.end_time | as_crispy_field }}
                {{ form.no_events | as_crispy_field }}

            <div class="d-grid d-md-none gap-2">
                <input type="submit" class="btn btn-outline-danger col-12" value="Absenden" />
                <a type="button" class="btn btn-outline-secondary col-12"
                    href="{% url 'teacher_personal_events' %}">Zurück</a>
            </div>

            <div class="d-none d-md-flex row">
                <div class="d-none d-md-flex col">
                    <a type="button" class="btn btn-outline-secondary col-12 col-md-3 mt-2 mb-2 me-2"
                        href="{% url 'teacher_personal_events' %}">Zurück</a>
                </div>
                <div class="d-none d-md-flex col-6 justify-content-end">
                    <input type="submit" class="btn btn-outline-danger mb-2 mt-2 me-2" value="Absenden"/>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>


{% endblock content %}