*{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 350px) and (min-height: 450px) {

    h1, input::-webkit-input-placeholder, button {
        font-family: 'roboto', sans-serif;
        transition: all 0.3s ease-in-out;
    }

    h1 {
        text-align: center;
        margin-top: 20px;
        height: 80px;
        width: 100%;
        color: black;
    }
    
    p {
        text-align: center;
    }

    form {
        margin: auto;
        padding: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 445px;
        width: 350px;
        box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
        padding-bottom: 40px;
        border-radius: 3px;
    }

    input {
        display: block;
        margin: 50px 0;
        width: 200px;
        border: none;
        padding: 10px 0;
        border-bottom: solid 1px #861e32;
        transition: all 0.3s cubic-bezier(.64,.09,.08,1);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, #861e32 4%);
        background-position: -200px 0;
        background-size: 200px 100%;
        background-repeat: no-repeat;
        color: darken(#861e32, 20%);
    }

    input :focus, :valid {
        outline: none;
        background-position: 0 0;
    }

    input ::-webkit-input-placeholder {
        color: #861e32;
        font-size: 11px;
        transform: translateY(-20px);
        visibility: visible !important;
    }

    .button {
        background: #861e32;
        border-color: #861e32;
        cursor: pointer;
        border-radius: 3px;
        padding: 6px;
        width: 200px;
        color: white;
        box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
        margin: 0 auto
    }
    .fortschritt_balken {

        position: absolute;
        width: 100%;
        top: 0px;
        left: 0px;
        height: 7px;
        border-radius: 4px;
        background-color: #e0e0e0;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);

    }
    .fortschritt {

        position:absolute;
        width: 66%;
        top: 0px;
        left: 0px;
        height: 7px;
        border-radius: 3px;
        background-color: #861e32;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);

    }
}