{% extends 'administrative/administrative_base.html' %}
{% load crispy_forms_tags %}
{% block control_content %}

{% if unapproved_changes %}
<a href="{% url 'student_import_listchanges' %}">View</a>
{% endif %}

<div>
    <form action="." method="POST" enctype="multipart/form-data">
        {{ form | crispy }}
        {% csrf_token %}

        <div class="d-grid ms-3 me-3 pt-4 pb-3 mt-5">
            <input type="submit" class="btn btn-outline-danger" value="Upload">
        </div>
    </form>
</div>

{% endblock %}