{% extends "dashboard/base.html" %}

{% block title %} Dashboard {% endblock title %}

{% block content %}

<div class="container p-2 pt-4">
    <div class="row">
        <div class="column">
            <div class="card" style="border-radius: 10px;">
                <div class="card-body p-4">
                    <ul class="list-group list-group-flush">
                        <h2>Termin</h2>
                        <li class="list-group-item">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col text-start">
                                        <div>
                                            Lehrer: {{ event.teacher.first_name }} {{ event.teacher.last_name }}
                                        </div>
                                        <div>
                                            Uhrzeit: {{ event.start|time }} Uhr
                                        </div>
                                        <div>
                                            {% if event.room %}
                                            Raum: {{ event.room }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <form method="post">
                            {% csrf_token %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="container">
                                        <div class="row align-items-center">
                                            <div class="col text-start">
                                                <div class="mb-2">
                                                    Schüler für das Gespräch wählen:
                                                </div>
                                                <div>
                                                    {% load crispy_forms_tags %}
                                                    {{ book_form|crispy }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <a type="button" class="btn btn-outline-secondary col-3" href="{{ teacher_url }}">Zurück</a>
                                            </div>
                                            <div class="col d-flex justify-content-end">
                                                <button type="submit" class="btn btn-outline-danger col-3">Buchen</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}