{% extends "dashboard/base.html" %}

{% block title %} Dashboard {% endblock title %}

{% block content %}

<div class="h-auto d-grid gap-3">
    {% if events|length > 0 %}
    <!-- Events-Titel -->
    <div class="row p-1">
        <div class="col col-8">
            <p class="h1">Events</p>
        </div>
    </div>



    <!-- Liste an möglichen Tabs -->
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        {%for key, events in events_dt_dict.items %}
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if forloop.counter0 == 0 %}active{%endif%}" id="pills-{{key}}-tab"
                data-bs-toggle="pill" data-bs-target="#pills-{{key}}" type="button" role="tab"
                aria-controls="pills-{{key}}" aria-selected="true">
                {{events.first.start|date}}</button>

        </li>
        {%endfor%}
    </ul>

    <!-- Inhalt der Tabs -->
    <div class="tab-content" id="pills-tabContent">
        {%for key, events in events_dt_dict.items %}
        <div class="tab-pane fade {% if forloop.counter0 == 0 %}show active{%endif%}" id="pills-{{key}}" role="tabpanel"
            aria-labelledby="pills-{{key}}-tab" tabindex="0">

            <!-- ab hier für uns unnötig -->
            <ul class="list-group list-group-flush">
                {% for event in events %}
                <li class="list-group-item">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-1 text-center">
                                {{ event.start|time }}
                            </div>
                            <div class="col-8"></div>
                            <div class="col text-center">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    {% if event.occupied %}
                                        {% if event.parent == parent %}
                                            <a type="button" class="btn btn-outline-success col-6" href="{% url 'teacher_event_view' event.id %}">
                                                Gebucht
                                            </a>
                                        {% else %}
                                            <a type="button" class="btn btn-outline-secondary col-6 disabled">
                                                Belegt
                                            </a>
                                        {% endif %}
                                    {% else %}
                                        <a type="button" class="btn btn-outline-danger col-6" href="{% url 'teacher_event_view' event.id %}">
                                            Buchen
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>

        </div>
        {%endfor%}
    </div>
    {% else %}

    <!-- Für den Lehrer wurden noch keine Events gebucht -->
    <div class="container">
        <p class="h1">Events</p>
        <p class="text-muted">Es gibt bei Ihnen bisher keine offenen Termine</p>
    </div>
    {% endif %}
</div>


</div>

{% endblock content %}