{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}

{% block title %} Dashboard {% endblock title %}

{% block content %}
<div class="container p-2">
    <div class="card p-2">
        <p class="h1">Termin - {{ event.start }}</p>
        {% if event.status == 2 %}
        <div class="alert alert-secondary">
            Dieser Termin wurde vom Lehrer noch nicht bestätigt. Bitte haben Sie noch etwas Geduld.
        </div>
        {% endif %}
        <div class="container">
            <p><strong>Datum:</strong> {{ event.start | date }}</p>
            <p><strong>Uhrzeit:</strong> {{ event.start | time }} - {{event.end | time }}</p>
            <p><strong>Lehrer:</strong> <a class="link-dark" href="{% url 'event_teacher_list' teacher_id %}">
                    {{event.teacher.first_name}} {{event.teacher.last_name}}
                </a>
            </p>
            <p>
                <strong>Raum:</strong>
                {% if event.room != none %}
                {{event.room}}
                {%else%}
                Raum unbekannt
                {%endif%}
            </p>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-secondary" href="{% url 'home' %}">
                Abbrechen
            </a>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#eventCancelModal">
                Termin absagen
            </button>
        </div>
    </div>
</div>



<!-- Event Cancel Modal -->
<div class="modal fade" id="eventCancelModal" tabindex="-1" aria-labelledby="eventCancelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="eventCancelModalLabel">Termin absagen</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                {% csrf_token %}
                {{cancel_form.cancel_event}}
                <div class="modal-body">
                    {{ cancel_form.message|as_crispy_field }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                    <input type="submit" class="btn btn-primary" value="Termin absagen" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}