<!DOCTYPE html>
{% load i18n %}
<html lang="en">

<!-- Wurde angepasst um sowohl für Lehrer wie auch Eltern zu gelten -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-white navbar-white border-bottom text-dark shadow-sm">
        <div class="container-fluid">
            <div class="content">
                <div class="logo"><a class="text-secondary fs-2" style="text-decoration: none;"
                        href="{% if user.role == 1 %}{% url 'teacher_dashboard' %}{% else %}{% url 'home' %}{% endif %}">Elternsprechtag</a>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation" style="outline: none; box-shadow: none;">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Hier wurde etwas geändert, damit sich das ganze besser anpasst -->
                <div class="row ms-lg-4" style="width: 100%;">
                    <!-- Um das neu anzuordnen, wenn man auf kleinen Bildschirmen ist, steht es zweimal hier -->
                    <form class="d-none d-lg-block col-6 col-xl-4 col-lg-5 col-xxl-3" style="margin-top: 10.5px;"
                        action="{% if user.role == 1 %}{% url 'teacher_students_list' %}{% else %}{% url 'search' %}{% endif %}">
                        <div class="form-white input-group bg-white align-items-center align-self-center">
                            <input type="text"
                                class="form-control rounded-1 border-2 bg-white align-text-bottom p-1 ps-2 me-2 shadow-sm"
                                placeholder="Suchen..." aria-label="Search" style="box-shadow: none; outline: none;"
                                name="q" autocomplete="off">
                            <button type="submit"
                                class="btn btn-outline-danger border-2 p-1 ps-2 pe-2 align-items-center rounded-1 shadow-sm"><i
                                    class="fa-solid fa-arrow-right fa-xl"></i></button>
                        </div>
                    </form>
                    <div class="d-none d-lg-block col-xl-6 col-lg-5 col-xxl-7"></div>

                    <div class="col-3 col-sm-2 d-flex justify-content-end">
                        <ul class="navbar-nav d-flex flex-row ms-auto">
                            <li class="nav-item me-3 me-lg-0 dropdown">
                                <a class="nav-link dropdown" href="#" id="navbarDropdown1" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-regular fa-circle-user text-danger" style="font-size: 2.5em"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown1">
                                    {% if user.role == 0 %}
                                    <li><a class="dropdown-item" href="{% url 'profile_student_list' %}"><i
                                                class="fa-solid fa-user"></i> Schüler:innen</a></li>
                                    {% endif %}
                                    <li><a class="dropdown-item" href="{% url 'profile_my_profile' %}"><i
                                                class="fa-solid fa-gear"></i> Mein Profil</a></li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-danger" href="{% url 'logout' %}"><i
                                                class="fa-solid fa-right-from-bracket"></i> Abmelden</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- Hier steht die Suchleiste zum zweiten mal -->
                    <form class="d-block d-lg-none col-9 col-sm-10" style="margin-top: 10.5px;"
                        action="{% url 'search' %}">
                        <div class="form-white input-group bg-white align-items-center align-self-center">
                            <input type="text"
                                class="form-control rounded-1 border-2 bg-white align-text-bottom p-1 ps-2 me-2 shadow-sm"
                                placeholder="Suchen..." aria-label="Search" style="box-shadow: none; outline: none;"
                                name="q" autocomplete="off">
                            <button type="submit"
                                class="btn btn-outline-danger border-2 p-1 ps-2 pe-2 align-items-center rounded-1 shadow-sm"><i
                                    class="fa-solid fa-arrow-right fa-xl"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <div class="main-content">
        {% if messages %}
        <div class="container mt-2">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"
                    aria-label="{% translate 'Close' %}"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="container mt-2">
            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>