<!DOCTYPE html>
{% load i18n %}
<html lang="de" class="h-100">

<!-- Wurde angepasst um sowohl für Lehrer wie auch Eltern zu gelten -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>

<body class="d-flex flex-column h-100">
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg bg-white navbar-white border-bottom text-dark shadow-sm">
        <div class="container-fluid">
            <div class="content">
                <div class="logo"><a class="text-secondary fs-2" style="text-decoration: none;"
                        href="{% if user.role == 1 %}{% url 'teacher_dashboard' %}{% else %}{% url 'home' %}{% endif %}">Elternsprechtag</a>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation" style="outline: none; box-shadow: none;">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Hier wurde etwas geändert, damit sich das ganze besser anpasst -->
                <div class="row ms-lg-4 ms-0" style="width: 100%;">

                    <!-- Kleiner Bildschirm -->
                    <div class="d-block d-lg-none">
                        <form class="d-flex d-lg-none col-10" style="margin-top: 10.5px; width: 100%;"
                            action="{% if user.role == 1 %}{% url 'teacher_students_list' %}{% else %}{% url 'search' %}{% endif %}">
                            <div class="form-white input-group bg-white align-items-center align-self-center">
                                <input type="text"
                                    class="form-control rounded-1 border-2 bg-white align-text-bottom p-1 ps-2 me-2 shadow-sm"
                                    placeholder="Suchen..." aria-label="Search" style="box-shadow: none; outline: none;"
                                    name="q" autocomplete="off">
                                <button type="submit"
                                    class="btn btn-outline-danger border-2 p-1 ps-2 pe-2 align-items-center rounded-1 shadow-sm"><i
                                        class="fa-solid fa-arrow-right fa-xl"></i></button>
                            </div>
                        </form>
                        <div class="d-block col-10 d-lg-none mt-2 mb-2 border-top border-gray" style="width: 100%;">
                            <ul class="nav navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link ms-2 me-2 align-items-center text-dark d-flex"
                                        href="{% block help_url_smallscreen %}{% endblock %}">
                                        {% translate 'Hilfe' %}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link dropdown ms-2 me-2 align-items-center text-dark d-flex"
                                        data-bs-toggle="dropdown">
                                        {% translate 'Profil' %} <i class="fa-solid fa-lg fa-caret-down ms-auto"></i>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown">
                                        <!-- {% if user.role == 0 %}
                                        <li><a class="dropdown-item" href="{% url 'profile_student_list' %}"><i
                                                    class="fa-solid fa-user"></i> Schüler:innen</a></li>
                                        {% endif %} -->
                                        {% if user.role == 1 %}
                                        <li><a class="dropdown-item" href="{% url 'teacher_personal_events' %}"><i
                                                    class="fa-solid fa-calendar-days"></i> {% translate 'Meine Termine'
                                                %}</a></li>
                                        {% endif %}
                                        <li><a class="dropdown-item" href="{% url 'announcements' %}"><i
                                                    class="fa-solid fa-inbox"></i> {% translate 'Mitteilungen' %}</a>
                                        </li>
                                        {% if user.is_superuser %}
                                        <li><a class="dropdown-item" href="{% url 'admin:index' %}">
                                                <i class="fa-solid fa-microchip"></i> {% translate 'Django-Verwaltung'
                                                %}
                                        <li><a class="dropdown-item" href="{% url 'administrative_dashboard' %}">
                                                <i class="fa-solid fa-sliders"></i> {% translate 'Verwaltung' %}</a>
                                        </li>
                                        {% endif %}
                                        <li><a class="dropdown-item" href="{% url 'profile_my_profile' %}"><i
                                                    class="fa-solid fa-gear"></i> {% translate 'Mein Profil' %}</a></li>
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li><a class="dropdown-item" href="{% url 'wiki_mainpage' %}"><i
                                                    class="fa-solid fa-book"></i> {% translate 'Anleitung' %}</a></li>
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li>
                                            <a class="dropdown-item text-danger" href="{% url 'logout' %}"><i
                                                    class="fa-solid fa-right-from-bracket"></i> {% translate 'Abmelden'
                                                %}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% comment %} Das Folgende ist erstmal nur zu Testzwecken!!! {% endcomment %}

                    <!-- Großer Bildschirm -->
                    <form class="d-none d-lg-block col-6 col-xl-4 col-lg-5 col-xxl-3" style="margin-top: 10.5px;"
                        action="{% if user.role == 1 %}{% url 'teacher_students_list' %}{% else %}{% url 'search' %}{% endif %}">
                        <div class="form-white input-group bg-white align-items-center align-self-center">
                            <input type="text"
                                class="form-control rounded-1 border-2 bg-white align-text-bottom p-1 ps-2 me-2 shadow-sm"
                                placeholder="Suchen..." aria-label="Search" style="box-shadow: none; outline: none;"
                                name="q" autocomplete="off">
                            <button type="submit"
                                class="btn btn-outline-danger border-2 p-1 ps-2 pe-2 align-items-center rounded-1 shadow-sm"><i
                                    class="fa-solid fa-arrow-right fa-xl"></i></button>
                        </div>
                    </form>
                    <div class="d-none d-lg-block col-xl-6 col-lg-5 col-xxl-7"></div>

                    <div class="d-none d-lg-flex col-3 col-sm-2 justify-content-end">
                        <ul class="navbar-nav d-flex flex-row ms-auto">
                            <li class="nav-item me-1 me-lg-0"></li>
                            <a class="nav-link" href="{% block help_url_bigscreen %}{% endblock %}">
                                <i class="fa-regular fa-circle-question text-danger" style="font-size: 2.5em"
                                    title="{% translate 'Klicken Sie für Informationen zu dieser Seite.' %}"></i>
                            </a>
                            </li>
                            <li class="nav-item me-3 me-lg-0 dropdown">
                                <a class="nav-link dropdown" href="#" id="navbarDropdown1" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-regular fa-circle-user text-danger" style="font-size: 2.5em"
                                        title="{% translate 'Klicken Sie für Informationen zu Ihrem Konto.' %}"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown1">
                                    <!-- {% if user.role == 0 %}
                                    <li><a class="dropdown-item" href="{% url 'profile_student_list' %}"><i
                                                class="fa-solid fa-user"></i> Schüler:innen</a></li>
                                    {% endif %} -->
                                    {% if user.role == 1 %}
                                    <li><a class="dropdown-item" href="{% url 'teacher_personal_events' %}"><i
                                                class="fa-solid fa-calendar-days"></i> {% translate 'Meine Termine' %}</a></li>
                                    {% endif %}
                                    <li><a class="dropdown-item" href="{% url 'announcements' %}"><i
                                                class="fa-solid fa-inbox"></i> {% translate 'Mitteilungen' %}</a></li>
                                    {% if user.is_superuser %}
                                    <li><a class="dropdown-item" href="{% url 'admin:index' %}">
                                            <i class="fa-solid fa-microchip"></i> {% translate 'Django-Verwaltung' %}
                                    <li><a class="dropdown-item" href="{% url 'administrative_dashboard' %}">
                                            <i class="fa-solid fa-sliders"></i> {% translate 'Verwaltung' %}</a></li>
                                    {% endif %}
                                    <li><a class="dropdown-item" href="{% url 'profile_my_profile' %}"><i
                                                class="fa-solid fa-gear"></i> {% translate 'Mein Profil' %}</a></li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'wiki_mainpage' %}"><i
                                                class="fa-solid fa-book"></i> {% translate 'Anleitung' %}</a></li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-danger" href="{% url 'logout' %}"><i
                                                class="fa-solid fa-right-from-bracket"></i> {% translate 'Abmelden' %}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% endif %}
    <main class="flex-shrink-0">
        <div class="main-content">
            {% if messages %}
            <div class="container mt-2">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                        aria-label="{% translate 'Schließen' %}"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <div class="container mt-2">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>

    <footer class="footer mt-auto">
        <div class="container">
            <div class="container">
                <footer class="d-flex flex-wrap justify-content-between align-items-center my-2 border-top">
                    <p class="col mb-0 text-muted">&copy; 2024 Bastian Bollmer, Jan-Niklas Wielpütz</p>
                    <!-- changed col-md-4 to col -->

                    <!-- <a href="/"
                        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                        <svg class="bi me-2" width="40" height="32">
                            <use xlink:href="#bootstrap" />
                        </svg>
                    </a> -->

                    <ul class="nav col-md-4 justify-content-end">
                        <li class="nav-item"><a href="{% url 'impressum' %}"
                                class="nav-link px-2 text-muted">{% translate 'Impressum' %}</a></li>
                        <!-- <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li> -->
                    </ul>
                </footer>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- Celery Progress -->
    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>

    {% block progress_bar_js %}{% endblock progress_bar_js %}
</body>

</html>