{% extends "dashboard/base.html" %}

{% block title %} Dashboard {% endblock title %}

{% block content %}
<div class="container p-2">
    <div class="card" style="border-radius: 10px;">
        <div class="card-body p-4">
            <p class="h1">Anfrage</p>
            <div class="row">
                <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                    <strong>Anfragesteller*in:</strong>
                </div>
                <div class="col-6 col-sm-8 col-md-9 col-lg-10">
                    <a href="{% url 'event_teacher_list' teacher_id %}" class="pb-1"
                        style="color: #2b2a2a; text-decoration: none;">
                        {{ inquiry.requester.first_name}} {{ inquiry.requester.last_name }}
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                    <strong>Schüler*in:</strong>
                </div>
                <div class="col-6 col-sm-8 col-md-9 col-lg-10">
                    {{ inquiry.students.first }}
                </div>
                <div class="col-12 col-md-3 col-lg-2">
                    <strong>Grund:</strong>
                </div>
                <div class="col-12 col-md-9 col-lg-10">
                    {{ inquiry.reason|linebreaks }}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <p>{{ reason }}</p>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" class="button" value="Book" />
</form> -->
<!-- Hier wurde einmal die komplette Seite von event eingefügt -->
<div class="container p-2">
    <div class="card" style="border-radius: 10px;">
        <div class="card-body p-4">
            <p class="h1">Elternsprechtag-Termine</p>
            <p class="text-muted">Bitte wählen Sie einen der verfügbaren Termine</p>
            {% if events|length > 0 %}
            <!-- Liste an möglichen Tabs -->
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <style>
                    .active {
                        border-color: red !important;
                    }

                    /* change this color */
                </style>
                {%for key, events in events_dt_dict.items %}
                <li class="nav-item" role="presentation">
                    <button
                        class="nav-link bg-white text-danger border border-light {% if forloop.counter0 == 0 %}active {%endif%}"
                        id="pills-{{key}}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{key}}" type="button"
                        role="tab" aria-controls="pills-{{key}}" aria-selected="true">
                        {{events.first.start|date}}</button>
                </li>
                {%endfor%}
            </ul>

            <div class="tab-content" id="pills-tabContent">
                {%for key, events in events_dt_dict.items %}
                <div class="tab-pane fade {% if forloop.counter0 == 0 %}show active{%endif%}" id="pills-{{key}}"
                    role="tabpanel" aria-labelledby="pills-{{key}}-tab" tabindex="0">

                    <ul class="list-group list-group-flush">
                        {% for event in events %}
                        <li class="list-group-item">
                            <div class="row gy-1 align-items-center">
                                <!-- <div class="row align-items-center"> -->
                                <div class="col-12 col-md-7 col-xl-9 text-start">
                                    {{ event.start|time }}
                                </div>
                                <div class="col-12 col-md-5 col-xl-3">
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        {% comment %} {% if event.occupied %}
                                        {% if event.parent == user %}
                                        {% if event.status == 2 %}
                                        <style>
                                            .specify_color_orange {
                                                border-color: #FF8C00 !important;
                                                color: #FF8C00 !important;
                                            }

                                            .specify_color_orange:hover {
                                                background-color: #FF8C00 !important;
                                                color: white !important;
                                            }
                                        </style>
                                        <a type="button"
                                            class="btn btn-outline-warning col-12 col-md-6 specify_color_orange"
                                            href="{% url 'event_per_id' event.id %}">
                                            Angefragt
                                        </a>
                                        {% else %}
                                        <a type="button" class="btn btn-outline-success col-12 col-md-6"
                                            href="{% url 'event_per_id' event.id %}">
                                            Gebucht
                                        </a>
                                        {% endif %}
                                        {% else %}
                                        <a type="button" class="btn btn-outline-secondary col-12 col-md-6 disabled">
                                            Belegt
                                        </a>
                                        {% endif %}
                                        {% else %}
                                            {% if event.start in booked_times %}
                                                <a type="button" class="btn btn-outline-secondary col-12 col-md-6 disabled">
                                                    Zeitkonflikt
                                                </a>
                                            {% else %}
                                                <a type="button" class="btn btn-outline-danger col-12 col-md-6"
                                                    href="{% url 'book_event_per_id' event.id %}?inquiry={{ inquiry_id }}">
                                                    Anfragen
                                                </a>
                                            {% endif %}
                                        {% endif %} {% endcomment %}
                                        {% if event.bookable %}
                                            {% if event.booked %}
                                                <a type="button" class="btn btn-outline-success col-12 col-md-6"
                                                    href="{% url 'event_per_id' event.id %}">
                                                    Gebucht
                                                </a>
                                            {% elif event.inquiry_pending %}
                                                <style>
                                                    .specify_color_orange {
                                                        border-color: #FF8C00 !important;
                                                        color: #FF8C00 !important;
                                                    }

                                                    .specify_color_orange:hover {
                                                        background-color: #FF8C00 !important;
                                                        color: white !important;
                                                    }
                                                </style>
                                                <a type="button"
                                                    class="btn btn-outline-warning col-12 col-md-6 specify_color_orange"
                                                    href="{% url 'event_per_id' event.id %}">
                                                    Angefragt
                                                </a>
                                            {% else %}
                                                <a type="button" class="btn btn-outline-danger col-12 col-md-6"
                                                    href="{% url 'book_event_per_id' event.id %}?inquiry={{ inquiry_id }}">
                                                    Anfragen
                                                </a>
                                            {% endif %}
                                        {% else %}
                                            {% if event.occupied %}
                                                <a type="button" class="btn btn-outline-secondary col-12 col-md-6 disabled">
                                                    Belegt
                                                </a>
                                            {% elif event.time_conflict %}
                                                <a type="button" class="btn btn-outline-secondary col-12 col-md-6 disabled">
                                                    Zeitkonflikt
                                                </a>
                                            {% else %}
                                                <a type="button" class="btn btn-outline-secondary col-12 col-md-6 disabled">
                                                    Blockiert
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
                {%endfor%}
            </div>
            {% else %}

            <!-- Für den Lehrer wurden noch keine Events gebucht -->
            <div class="container">
                <p class="h1">Events</p>
                <p class="text-muted">Es gibt bei Ihnen bisher keine offenen Termine</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}