{% extends "dashboard/base.html" %}

{% block title %} Dashboard {% endblock title %}

{% block content %}
<p>{{ user }}</p>
<p>Students</p>

<p>{% for student in user.students.all %}<li>{{ student.child_email }}</li>{% endfor %}</p>
<h1>Events</h1>
<p>{% for event in booked_events %}<li><a href="{{ event.url }}">{{ event.event.start }} +
            {{event.event.teacher.last_name }}</a>
    </li>{% endfor %}</p>

<h1>Inquiries</h1>
<p>
    {% for inquiry in inquiries %}
    <li><a href="{{ inquiry.inquiry_link }}">{{ inquiry.teacher.last_name }}</a></li>
    {% endfor %}
</p>
{% endblock content %}