{% extends "dashboard/base.html" %}
{% load i18n %}
{% block title %} {% translate 'Search' %} {% endblock title %}

{% block help_url_smallscreen %} {% url 'wiki_parent_search' %} {% endblock %}
{% block help_url_bigscreen %} {% url 'wiki_parent_search' %} {% endblock %}

{% block content %}

<div class="container p-2 pt-4">
    <div class="row">
        <div class="column">
            <div class="card" style="border-radius: 10px;">
                <div class="card-body p-4">
                    {% if request_search %}
                    <h2>{% translate 'Search results for:' %} "{{ request_search }}"</h2>
                    {% else %}
                    <h2>{% translate 'All teachers' %}</h2>
                    {% endif %}

                    {% if teachers %}
                    <ul class="list-group list-group-flush">
                        {% for teacher in teachers %}
                        <li class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col-12 col-sm-6 col-md-8 text-start">
                                    {{ teacher.last_name }}, {{ teacher.first_name }}
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <a type="button" class="btn btn-outline-danger" href="{{ teacher.url }}">
                                            {% translate 'Book an appointment' %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col-12 col-sm-6 col-md-8 text-start">
                                    {% translate 'No results found!' %}
                                </div>
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if teachers %}
<nav aria-label="Student navigation" class="mt-2">
    <ul class="pagination justify-content-center">
        {% if request_search %}
            {% if teachers.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ teachers.previous_page_number }}&q={{ request_search }}"><i class="fa-solid fa-angle-left"></i></a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href=""><i class="fa-solid fa-angle-left"></i></a></li> 
            {% endif %}

            {% for i in teachers.paginator.page_range %}
            {% if i == teachers.number %}
            <li class="page-item active"><a class="page-link" href="?page={{ i }}&q={{ request_search }}">{{ i }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}&q={{ request_search }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if teachers.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ teachers.next_page_number }}&q={{ request_search }}"><i class="fa-solid fa-angle-right"></i></a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href=""><i class="fa-solid fa-angle-right"></i></a></li>
            {% endif %}
        {% else %}
            {% if teachers.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ teachers.previous_page_number }}"><i class="fa-solid fa-angle-left"></i></a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href=""><i class="fa-solid fa-angle-left"></i></a></li> 
            {% endif %}

            {% for i in teachers.paginator.page_range %}
            {% if i == teachers.number %}
            <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if teachers.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ teachers.next_page_number }}"><i class="fa-solid fa-angle-right"></i></a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href=""><i class="fa-solid fa-angle-right"></i></a></li>
            {% endif %}
        {% endif %}

    </ul>
</nav>
{% endif %}

<!-- Change the color of the paginator -->
<style>
  .pagination .page-link {
    background-color: #f8f9fa; /* Hintergrundfarbe der Links */
    color: #dc3545; /* Textfarbe der Links */
    border: 1px solid #dee2e6; /* Rahmenfarbe der Links */
  }

  .pagination .page-item.active .page-link {
    background-color: #dc3545; /* Hintergrundfarbe des aktiven Elements */
    color: #ffffff; /* Textfarbe des aktiven Elements */
    border: 1px solid #dc3545; /* Rahmenfarbe des aktiven Elements */
  }

  .pagination .page-link:hover {
    background-color: #e9ecef; /* Hintergrundfarbe bei Hover */
    color: #dc3545; /* Textfarbe bei Hover */
  }
</style>

{% endblock content %}